{% extends 'isup/base.html' %}

{% block content %}
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">Wallet and Node Options</h3>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-third">
      <i class="fa fa-mobile w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Trinity Wallet</p>
      <p>Recommended for beginners and anyone looking to get start using IOTA quickly</p>
    </div>
    <div class="w3-third">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">IOTA Foundation Full Node</p>
      <p>For those who want to support the Tangle and are techincally proficient</p>
    </div>
    <div class="w3-third">
      <i class="fa fa-share-alt w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Third Party Services</p>
      <p>There are numerous easy-to-deploy containers, tutorials, and even completely different software options to choose from</p>
    </div>
  
  </div>
</div>

{% endblock %}